/* Estilo Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo img {
    max-width: 150px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 40px;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
}

.social-links a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
}

.social-links a:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para Botões */
.social-btn {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.instagram {
    background-color: #E4405F;
}

.email {
    background-color: #D44638;
}

.whatsapp {
    background-color: #25D366;
}
